.git
.gitignore

.env
.env.*
!.env.example

k8s/base/secret.yaml
k8s/base/secret.local.yaml
k8s/base/*.secret.yaml
k8s/base/*.local-secret.yaml
k8s/dev/secret.yaml
k8s/dev/secret.local.yaml
k8s/dev/*.secret.yaml
k8s/dev/*.local-secret.yaml

deploy/
k8s/
charts/
docs/

README.md
LICENSE

avatar.jpg

*.log
*.tmp
.DS_Store