# Адрес HTTP-сервера GophProfile.
GOPHPROFILE_SERVER_ADDRESS=:8080

# Уровень логирования: debug, info, warn, error.
GOPHPROFILE_LOG_LEVEL=info

# DSN подключения к PostgreSQL.
GOPHPROFILE_DATABASE_DSN=postgres://YOUR_USER:YOUR_PASSWORD@localhost:5432/gophprofile?sslmode=disable

# =========================
# MinIO / S3
# =========================

# Endpoint S3-совместимого хранилища.
# Для локального MinIO обычно используется http://localhost:9000.
GOPHPROFILE_S3_ENDPOINT=http://localhost:9000

# Регион нужен AWS SDK. Для MinIO обычно достаточно us-east-1.
GOPHPROFILE_S3_REGION=us-east-1

# Доступы к MinIO.
GOPHPROFILE_S3_ACCESS_KEY=minioadmin
GOPHPROFILE_S3_SECRET_KEY=minioadmin

# Bucket для хранения аватарок.
GOPHPROFILE_S3_BUCKET=avatars

# Для локального MinIO обычно нужен path-style доступ.
GOPHPROFILE_S3_USE_PATH_STYLE=true