# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

bin
dist

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
*.log

# Environment variables
.env

# Compiled binary
/app

run.md

# Pictures
*.jpg
*.jpeg
*.png

# git
.git
.gitignore

# cover
tmp
coverage.out
cover.out

# Kubernetes local secrets
k8s/base/secret.yaml
k8s/base/secret.local.yaml
k8s/base/*.secret.yaml
k8s/base/*.local-secret.yaml

k8s/dev/secret.yaml
k8s/dev/secret.local.yaml
k8s/dev/*.secret.yaml
k8s/dev/*.local-secret.yaml